
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Roboto", sans-serif;
  color: #000001;
  background-color: #fff;
}

html {
    background-color: #eee;
}

section,
body {
    background-color: #eee;
}

section {
    padding: 30px;
}

.head-container {
    top: 0;
    left: 0;
    z-index: 1;
    padding: 50px 50px 0 50px;
    background-color: #eee;
}

.head-container * {
    background-color: #eee;
}

.mt-8 {
    height: 8px;
    width: auto;
    display: flex;
}

.mt-16 {
    height: 16px;
    width: auto;
    display: flex;
}

.remove-line-height {
    line-height: 0;
}

.lbl-content {
    font-weight: 700;
}

.sec-title {
    color: #5f7bcd;
    text-transform: uppercase;
}

.sec-content {
    text-align: justify;
}

.details {
    display: flex;
    flex-direction: row;
}

.profile-pic{
    flex: 1;
}

.profile-pic-content {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.profile-pic-image {
    height: auto;
    width: 200px;
    margin-top: 75px;
}

.full-name {
    flex: 3;
}

.contact-logo {
    height: 15px;
    width: auto;
    grid-area: cola;
    margin-right: 10px;
}

.contact-details {
    grid-area: colb;
}

.contact-logo,
.contact-details {
    margin-bottom: 5px;
}

.contact-info {
    display: grid;
    grid-template-areas: 'cola colb';
    justify-content: left;
    align-items: center;
    flex: 1;
}

.about-me {
    position: relative;
}

.line-separator_01 {
    background-color: #5f7bcd;
    height: 1px;
    width: auto;
}

.line-separator_01::before {
    content: '';
    position: absolute;
    background-color: #5f7bcd;
    height: 5px;
    width: 5vw;
}

.list-no-style {
    list-style-type: none;
}

.title_01 {
    font-size: 1.3em;
}

.title_02 {
    font-size: 1em;
    color: #777;
    font-weight: 500;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .nav-tab-bar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding-inline-start: 0;
}

nav .nav-tab-bar li {
    flex: 1;
    position: relative;
    white-space: nowrap;
}

nav .nav-tab-bar li div {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
}

nav .nav-tab-bar li div:hover {
    background-color: #ddd;
}

nav .nav-tab-bar li div.selected {
    border-radius: 5px 5px 0 0;
    font-size: 1.5em;
    font-weight: 700;
    padding: 0 20px;
}

.skills,
.tech-skills,
.educ,
.work-history,
.certifications {
    display: none;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px 1px;
}

.active {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1000px) {
    .details {
        flex-direction: column;
    }

    nav .nav-tab-bar {
        flex-direction: column;
    }
}

